html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}
.logo {
  margin-bottom: 68px;
}
.form-control {
  background: #F5F5F5;
  border: 1px solid #D2D2D2;
}
.btn-primary {
  background: #CCDDF9;
  border: 1px solid #CCDDF9;
  color: #0C2550;
}
.btn-primary:hover {
  background: #B3C4E1;
  border: 1px solid #B3C4E1;
  color: #0C2550;
}
.btn {
  border-radius: 25px;
  font-size: 16px;
}
.btn-block {
  width: 90%;
  margin: 0 auto;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin input {
  margin-bottom: 24px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}